@using Microsoft.AspNet.Identity
@using TicketingSystem.Models
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
            Check email    
    </p>
</div>
	
